.menu ul{
}
.blockOneHeader {
    height: 50px;
}

.navPag{
    display: flex;
    list-style: none;
}
.navPag li a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin: 15px;
}