body{
    position: relative;
}
.openSocial {
    width: 70px;
    height: 70px;
    /* background: #000; */
    position: fixed;    
    left: 15px;
    bottom: 15px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.socialFixed {

}
.socialFixedWrap {
}
.socialfixxedIcons {
    opacity: 0;
    z-index: -1;
    
}
.activeSocialIcons{
    opacity: 1;
    z-index: 100000;
    transition: all .2s ease;
}
.whatsapp {
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;    
    left: 15px;
    bottom: 85px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.viber {
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;    
    left: 15px;
    bottom: 155px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.telegram {
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;    
    left: 15px;
    bottom: 225px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.vkontakte {
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;    
    left: 15px;
    bottom: 295px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.closeSocial {
    width: 70px;
    height: 70px;
    /* background: rgba(0, 0, 0, 0.078); */
    position: fixed;    
    left: 15px;
    bottom: 365px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.closeSocial:hover{
    background: rgba(0, 0, 0, 0.1);
}

