@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.wraper {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
}

.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(255, 255, 255); */
}

.leftNav {
    width: 60%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.adress {
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.schema {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.schema a {
    text-decoration: none;
    color: #000;
}

i.fa-solid.fa-location-dot {
    font-size: 30px;
    padding: 5px;
    color: rgb(125, 0, 0);
}

.logo {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.rightNav {
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    min-width: 200px;
    margin-right: 15px;
}

.phone a {
    text-decoration: none;
    color: #000;
}

i.fa-solid.fa-phone {
    font-size: 30px;
    padding: 5px;
    color: rgb(120, 0, 0);
}

/* menu */
.menu {
    width: 100%;
    background: rgb(120, 0, 0);
    z-index: 9999999999;
}

.menu ul,
.menu ol {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.menu>ul>li a {
    display: block;
    background: rgb(120, 0, 0);
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 135px;
    text-align: left;
}

.menu>ul li {
    position: relative;
    transition: all .3s ease;
}

.menu>ul>li>a>i.fa-solid {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.menu>ul>li:first-child {
    border-left: .5px solid #fff;
}

.menu>ul>li {
    border-right: .5px solid rgba(255, 255, 255, 0.5);
}

.menu>ul>li:last-child {
    border-right: .5px solid #fff;
}

/* animation menu */

.menu>ul>li>a:hover {
    text-shadow: 1px 5px 10px rgb(120, 0, 0);
    background: #fff;
    color: rgb(120, 0, 0);
    transition: all .3s ease;
}

/* sub menu */

.menu>ul>li>ul {
    position: absolute;
    min-width: 130px;
    display: block;
    display: none;
    z-index: 1;
}

.menu>ul>li>ul>li {
    border: .3px solid rgba(255, 255, 255, 0.5);
}

.menu>ul>li>ul>li>a {
    width: 135px;
    text-align: left;
    font-size: 12px;
    /* width: 100%; */
}

.menu>ul>li>ul>li>a:hover {
    text-shadow: 1px 5px 10px rgb(120, 0, 0);
    background: #fff;
    color: rgb(120, 0, 0);
    transition: all .2s ease;
}

.menu>ul>li:hover>ul {
    display: block;
    transition: all .5s ease;
}


.body {}

.sectionTwo {
    padding-bottom: 50px;
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: -moz-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
}

.sectionTwo h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
}


/* icons sectionTwo */
.advantages {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.advantages>div>p {
    padding-top: 25px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}

.advantages div {
    pading: 3px;
}


.blockCamera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.camera {
    /* background-image: url('../img/icons/cctv.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.bell {
    /* background-image: url('../img/icons/bell.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.thumbs {
    /* background-image: url('../img/icons/thumbsup.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.saunaPool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.pool {
    /* background-image: url('../img/icons/pool.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.bedroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.bed {
    /* background-image: url('../img/icons/bedroom.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.sectionThree {
    /* border-top: 5px solid rgb(120, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
    background: -moz-linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}

.sectionThree h2 {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
}


.servises {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.servises>div>p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;

}

.mansThursday {
    /* margin: 25px; */
    /* text-align: center; */
}

.mansImg {
    background-image: url('../img/imgMens.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}

.womansTuesday {
    /* margin: 25px; */
}

.womansImg {
    background-image: url('../img/imgWomans.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
    border-radius: 50%;
}

.spa {
    /* margin: 25px; */
}

.spaImg {
    background-image: url('../img/imgSpa.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}

.romantic {
    /* margin: 25px; */
}

.romanticImg {
    background-image: url('../img/imgRomantic.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}

.gifts {
    /* margin: 25px; */
}

.giftsImg {
    background-image: url('../img/imgPresent.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}

.sectionFor {
    border-top: 5px solid rgb(255, 0, 0);
    width: 100%;
    /* background: rgba(0, 0, 0, 0.8); */
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: -moz-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    border-bottom: 5px solid rgb(255, 0, 0);
    padding-bottom: 30px;
}

.sectionFor>h2 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;

}

.wrapGalery {}

.galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    /* padding: 50px; */

}

.photo1 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo1:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}

.photo2 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo2:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}

.photo3 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo3:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}

.photo4 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo4:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}

.photo5 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo5:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}

.photo6 {
    width: 330px;
    height: 300px;
    background-image: url('../img/galeryFront/6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.photo6:hover {
    box-shadow: 5px 6px 5px rgb(0, 0, 0);
}


.sectionFive {
    border-top: 5px solid rgb(255, 0, 0);
    padding-bottom: 30px;
    padding-left: 30px;
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: -moz-linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(103, 103, 103), rgb(0, 0, 0));
}

.wrapAbout {}

.titleAbout {
    font-size: 28px;
    text-align: start;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
}

.about {
    position: relative;
}

.aboutText {}

.aboutImg {
    /* position: absolute; */
    width: 300px;
    height: 300px;
    /* background: rgba(0, 0, 0, 0.122); */
    background-image: url('../img/atmosphere.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 50px;
    margin: 10px;
}

.aboutText h2 {
    font-size: 28px;
    text-align: start;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
}

.aboutText h3 {
    font-size: 28px;
    text-align: start;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
}

.textOne {
    margin: 10px;
    font-size: 26px;
    color: #fff;
}

.textOne a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(180, 180, 180);
    border: 1px solid #fff;
    border-radius: 5px;
}

.textOne a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.textList {
    margin: 20px;
    font-size: 22px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fff;
}

.aboutImgTwo {
    margin: 10px;
    width: 300px;
    height: 300px;
    /* background: rgba(0, 0, 0, 0.122); */
    background-image: url('../img/veniki.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 50px;
}



/* formBlock */

.formBlock {
    width: 100%;
    background: rgb(120, 0, 0);
}

.rowBlock {}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.questionsBlock {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    position: relative;
}

.titleQuestions {
    font-size: 16px;
}

.titleQuestions::after {
    content: '';
    background-image: url('../img/icons/rightArrow.svg');
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0px;
}

.descriptionsBlock {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

.rowsDescription {}

.buttonWrap {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}




.btnBlockForm {

    box-sizing: border-box;
    background: rgb(120, 0, 0);
    text-align: center;
    grid-area: btn;
    padding: 9px 20px 10px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.btnBlockForm:hover {
    box-shadow: 1px 2px 20px #000;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: 1px 3px 10px #fff;
    opacity: .9;
}

.footer {
    padding-top: 25px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.topFooter {
    width: 100%;
    /* background: rgb(131, 0, 0); */
    display: flex;
    justify-content: space-between;

}

.wrapCompass {}

.compass {}

.buttonCompass {}

.footerMenu ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

.footerMenu ul li {
    padding-right: 10px;
}

.footerMenu ul li a {
    text-decoration: none;
    color: #fff;
}

.bottomFooter {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.bottomFooter p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}