.blockOne{
    height: 120px;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 2.5px solid red;
}

.navPag{
    display: flex;
    list-style: none;
    height: 50px;
    align-items: center;
}

.navPag li{
    color: #fff;
}

.navPag li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 15px;
}

.activeLi{
    background: rgba(0, 0, 0, 0.5);
}

.blockOneHeader {
    align-items: center;
    text-transform: uppercase;
}

.blockOneHeader h1{
    padding-left: 20px;
    color: #fff;
}

.blockSideBar {
    display: flex;
    /* flex-direction: column; */
    /* height: 400px; */
}

.leftBar {
    padding-left: 25px;
    width: 30%;
    /* background: rgba(255, 1, 1, 0.052); */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.leftBar ul{
    border: 2px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    text-decoration: none;
}

.leftBar ul li{
    padding: 15px 25px;
    min-width: 100px;

}

.leftBar ul a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
}

.leftBar ul li:hover{
    background: rgba(0, 0, 0, 0.5);
}

.rightBar {
    padding-left: 50px;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.rightBarBlock {
    padding-left: 25px;
    text-align: left;

}
.rightBarBlock p{
    font-size: 20px;
    text-transform: uppercase;
}
.rightBarImg {
    width: 300px;
    height: 250px;
}
.rightBarBtn {
    font-size: 18px;
    cursor: pointer;

}

.wrapRightBlock {
    text-align: center;
}

.wrapRightBlock h1{
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.wrapRightBlock p{
    border: .5px solid black;
    margin-right: 10px;
    margin-bottom: 25px;
}



@media (max-width: 768px) {

    .rightBar{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .leftBar{
        width: 20%;
        display: flex;
    }

    .leftBar ul a li{
        font-size: 10px;
    }

    
}

@media (max-width: 530px){
    .rightBarImg{
        width: 100px;
        height: 100px;
    }

    .rightBarBlock p{
        font-size: 10px;
    }
    .rightBarBtn{
        font-size: 14px;
    }
    .wrapRightBlock h1{
        font-size: 16px;
    }
}







